In [9]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns

In [2]:
df = pd.read_csv("C:\\Users\\DCL\\dm dataset\\real_state_data.csv")

In [3]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [21]:
#missing data

NAs = pd.concat([df.isnull().sum()], axis =1, keys= ["Train"])
NAs[NAs.sum(axis=1) > 0]

Empty DataFrame
Columns: [Train]
Index: []

In [56]:
X = df.iloc[:,0:6]
y = df.iloc[:,6]

In [16]:
# Saving feature names for later use
df_list = list(df.columns)

In [10]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.2)

In [11]:
rfreg = RandomForestRegressor()
rfreg.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [12]:
y_pred = rfreg.predict(x_test)

In [13]:
y_pred

array([121.542902  , 121.53798819, 121.51247233, 121.53355314,
       121.54409285, 121.54218736, 121.5285034 , 121.54505439,
       121.51766741, 121.53825432, 121.51353161, 121.53995458,
       121.5424892 , 121.54009791, 121.51267349, 121.53762203,
       121.53024012, 121.53677366, 121.5383016 , 121.54090904,
       121.54364789, 121.53063939, 121.54859767, 121.50462297,
       121.53431879, 121.5443889 , 121.54315655, 121.54269245,
       121.54396793, 121.53375399, 121.54201554, 121.5407095 ,
       121.51862628, 121.50519314, 121.54860217, 121.54225438,
       121.53974121, 121.53715093, 121.54133849, 121.53312983,
       121.54311355, 121.54394127, 121.51691704, 121.5126016 ,
       121.54249461, 121.51267349, 121.54079633, 121.5388359 ,
       121.54128475, 121.50365814, 121.51626774, 121.54401105,
       121.54159044, 121.53694057, 121.519568  , 121.54874141,
       121.53609274, 121.54357146, 121.54179077, 121.5164687 ,
       121.53177042, 121.54055508, 121.53968943, 121.5302812 ,
       121.54085634, 121.4958232 , 121.54029513, 121.51830604,
       121.55145678, 121.52996344, 121.50314581, 121.5404711 ,
       121.50564383, 121.5134174 , 121.54454944, 121.54136223,
       121.53756581, 121.55500032, 121.53849916, 121.54049548,
       121.54078883, 121.53599198, 121.54438945])

In [14]:
from sklearn import metrics
print('MAE : ',metrics.mean_absolute_error(y_test,y_pred))
print('MSE : ',metrics.mean_squared_error(y_test,y_pred))
print('RMSE : ',np.sqrt(metrics.mean_absolute_error(y_test,y_pred)))

MAE :  0.0013113534100117833
MSE :  4.286289173818972e-06
RMSE :  0.03621261396270343

In [29]:
# Use the forest's predict method on the test data
predictions = rfreg.predict(x_test)
# Calculate the absolute errors
errors = abs(predictions - y_test)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 3), '%.')

Accuracy: 99.999 %.

In [32]:
from sklearn.feature_selection import RFE

In [37]:
rfe = RFE(rfreg,3)

In [38]:
rfe.fit(X,y)

RFE(estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                    criterion='mse', max_depth=None,
                                    max_features='auto', max_leaf_nodes=None,
                                    max_samples=None, min_impurity_decrease=0.0,
                                    min_impurity_split=None, min_samples_leaf=1,
                                    min_samples_split=2,
                                    min_weight_fraction_leaf=0.0,
                                    n_estimators=100, n_jobs=None,
                                    oob_score=False, random_state=None,
                                    verbose=0, warm_start=False),
    n_features_to_select=3, step=1, verbose=0)

In [39]:
rfe.support_

array([False, False, False,  True,  True,  True])

In [51]:
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE,SelectFromModel,SelectKBest,chi2,VarianceThreshold

In [57]:

df_im_col=pd.DataFrame({"Feature_Name":X.columns,"Importance":list(rfe.support_)})
df_im_col.sort_values(["Importance"],ascending=False)

                             Feature_Name  Importance
3  X3 distance to the nearest MRT station        True
4         X4 number of convenience stores        True
5                             X5 latitude        True
0                                      No       False
1                     X1 transaction date       False
2                            X2 house age       False